.login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.text-Login{
  
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: #ea3030;
}

.login-form {
  flex-basis: 65%;
  padding: 10px;
  background-color: #f9f9f9;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: auto;
  border-radius: 5px;
  height: 100vh;
  width: 100vh;
  
}

.login-form input {
  width: 90%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-button {
  background-color: #0071fc;
  margin-left: 27%;
  margin-right: auto;
  width: 100px;
  height: 30px;
  padding: 5px;
  align-items: center;
  border-radius: 10px;
  font-weight: bolder;
  
}


.right-section {
  flex-basis: 40%;
  padding: 10px;
  background-color:#6fa8ec ;
  border-radius: 79px 0px 0px 79px;
  height: 100vh;
  width: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}


.password-input-container {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
}

.password-toggle svg {
  width: 20px;
  height: 20px;
}

.password-toggle:hover svg {
  color: #333;
}

.signup-text{
  color: #010000;
  font-weight: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  

