.CreateOrderForm {
    max-width: 1200px;
    height: 450px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  
  .CreateOrderForm h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .CreateOrderForm form {
    margin-top: 20px;
  }
  
  .CreateOrderForm .form-group {
    margin-bottom: 20px;
  }
  
  .CreateOrderForm label {
    font-weight: bold;
  }
  
  .CreateOrderForm input[type="text"],
  .CreateOrderForm input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .CreateOrderForm button[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 90px;
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  .CreateOrderForm button[type="submit"]:hover {
    background-color: #0069d9;
  }
  