.login-form input {
    width: 70%; /* Adjust the width as needed */
    height: 35%; /* Adjust the height as needed */
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .signup-text {
    margin-bottom: 15px;
    margin-top: 15px; /* Adjust the top margin as needed */
    font-weight: bold;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .form-group {
    flex-basis: 40%;
    width: 80%;
  }
  
  .signup-link {
    font-weight: bold;
  }
  
  .login-button {
    background-color: rgb(51, 51, 215);
    border: none;
    color: #f9f9f9;
  }
  
  /* Styling for other elements */
  /* Add any additional styles you need */
  

  .right-section {
    flex-basis: 40%;
    padding: 10px;
    background-color:  #480ad8;
    border-radius: 5px;
    height: 103vh;
    width: 105vh;
  }